.bg {
    fill: url(#Gradient-BG);
}
.text-font {
    font-family: 'Helvetica';
}
.text-color {
    fill: #444444;
}
.text-color-blue {
    fill: #0f4e91;
}
.text-size-medium {
    font-size: 48px;
}
.text-size-large {
    font-size: 72px;
}
.text-size-extra-large {
    font-size: 144px;
}
.text-size-extra-extra-large {
    font-size: 216px;
}
.floor-shadow {
    opacity: 0.5;
    fill: #777777;
}
.floor-left {
    fill: #514747;
}
.floor-right {
    fill: #605553;
}
.floor-top {
    fill: url(#Gradient-Floor);
}
.wall-side-left {
    fill: #e1cec4;
}
.wall-side-right {
    fill: #ebded8;
}
.wall-right {
    fill: url(#Gradient-Wall-Right);
}
.wall-left {
    fill: url(#Gradient-Wall-Left);
}
.wall-top {
    fill: #fdf1e8;
}
.desk-shadow {
    opacity: 0.5;
    fill: #424242;
}
.desk-left {
    fill: #c9c9c9;
}
.desk-right {
    fill: #d6dada;
}
.desk-top {
    fill: #e7e8e9;
}
.tv-screen {
    fill: #e7e8e9;
}
.tv-text-color {
    fill: #444444;
}
.occupied {
    fill: #464648;
}
.available {
    fill: #9eebb4;
}
.staff {
    fill: #9eebb4;
}
.debian-logo {
    fill: #b3b3b3;
}
.text-color-blue {
    fill: #0f4e91;
}
.st4 {
    fill: #231f20;
}
.st5 {
    fill: #ffffff;
}
.st6 {
    fill: #0f4e91;
}
.st7 {
    fill: #fdd700;
}
.st18 {
    fill: #4d575a;
}
.st19 {
    fill: #717a7e;
}
.st20 {
    fill: #3b4548;
}
.st21 {
    fill: none;
    stroke: #231f20;
    stroke-miterlimit: 10;
}
.st25 {
    fill: url(#SVGID_4_);
}
.st26 {
    fill: #f2f3ff;
}
.st27 {
    fill: #80553a;
}
.st28 {
    fill: #74462e;
}
.st29 {
    fill: #80bb75;
}
.st30 {
    fill: #8ac280;
}
.st31 {
    fill: #4f9d6a;
}
.st32 {
    fill: url(#SVGID_5_);
}
.st33 {
    enable-background: new;
}
.st34 {
    fill: #49474f;
}
.st35 {
    fill: #64616c;
}
.st36 {
    fill: #928e9e;
}
.st37 {
    clip-path: url(#SVGID_7_);
    enable-background: new;
}
.st38 {
    clip-path: url(#SVGID_9_);
    enable-background: new;
}
.st39 {
    fill: #57575d;
}
.st40 {
    fill: #8b8b8c;
}
.st41 {
    fill: #f8f081;
}
.st42 {
    fill: #fbf9da;
}
.st43 {
    fill: #bde6f6;
}
.st44 {
    fill: #636464;
}
.st45 {
    fill: #5b595a;
}
.st46 {
    fill: #4a494a;
}
.st47 {
    fill: #5d9cb4;
}
.st48 {
    fill: #448599;
}
.st49 {
    fill: #666766;
}
.st50 {
    fill: #f15523;
}
.st51 {
    fill: #757576;
}
.st52 {
    fill: #abb2b2;
}
.st53 {
    fill: #dae0de;
}

#tv-pic {
    transform: skewY(30deg);
}
